---
layout: cn
title: Brook Hong
---

<div id="content">

    <div class='section profile'>
        {% include about_cn.html %}
    </div>

    <div class='section posts'>
        <ul class="posts">
            {% for post in site.categories.cn %}
            <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class='section tools'>
        <h3>二维码生成</h3>
        <div>
            <textarea id="text" type="text" style="width:50%;height:50%" rows=20></textarea>
            <div id="qrcode" style="display:inline-block;"></div>
        </div>
    </div>
</div>
