<p>欢迎光临。</p>

<p>这里是我分享创造的地方，希望对你有所帮助。</p>

<ul>
  <li><a href="https://github.com/brookhong/tts">tts – 基于Microsoft Speech API (SAPI) 文本语音阅读命令行工具</a> | <a href="/assets/downloads/tts.zip">下载</a></li>
  <li><a href="https://github.com/brookhong/kv">kv – 命令行字典工具</a> | <a href="/assets/downloads/kv.zip">下载</a></li>
  <li><a href="/2011/09/27/wikenotes-cn.html">WikeNotes – 个人知识管家</a></li>
  <li><a href="/2014/04/28/keycast-on-windows-cn.html">KeyCastOW – Windows下的按键显示</a></li>
  <li><a href="/2014/09/27/dbgpavim-cn.html">DBGPavim – 用于PHP/Python调试的VIM插件</a> | <a href="http://www.vim.org/scripts/script.php?script_id=4059">vim.org</a></li>
  <li><a href="/2014/09/27/cloudboard-cn.html">cloudboard.vim – 基于github gist的跨机器剪贴板</a></li>
  <li><a href="/2015/09/20/surfingkeys-cn.html">Surfingkeys – 超越vimium的Chrome插件</a></li>
</ul>
