<h3 id="section">工作经历</h3>
<ul>
  <li>2012.02 - 2014.12 » linux的php，主要使用symfony库，各平台下的java，linux的python/mongodb，javascript主要使用各种跨浏览器的JS库如jQuery/D3/prototype等。</li>
  <li>2011.09 - 2012.01 » mac下的actionscript(AIR)</li>
  <li>2010.12 - 2011.08 » linux下的ruby，windows下的java。</li>
  <li>2009.01 - 2010.12 » windows下的c++，主要使用Win32 API和Boost。</li>
  <li>2007.04 - 2008.11 » linux下的c++，主要使用QT。</li>
  <li>2005.05 - 2007.03 » windows下的c++，主要使用Win32 API/STL/WTL这些库。</li>
</ul>

<h3 id="section-1">业余爱好</h3>

<h4 id="section-2">看电影/电视剧</h4>

<h4 id="section-3">继续码</h4>
<ul>
  <li><a href="https://github.com/brookhong/tts">tts – 基于Microsoft Speech API (SAPI) 文本语音阅读命令行工具</a> | <a href="/assets/downloads/tts.zip">下载</a></li>
  <li><a href="https://github.com/brookhong/kv">kv – 命令行字典工具</a> | <a href="/assets/downloads/kv.zip">下载</a></li>
  <li><a href="/2011/09/27/wikenotes-cn.html">WikeNotes – 个人知识管家</a></li>
  <li><a href="/2014/04/28/keycast-on-windows-cn.html">KeyCastOW – Windows下的按键显示</a></li>
  <li><a href="/2014/09/27/dbgpavim-cn.html">DBGPavim – 用于PHP/Python调试的VIM插件</a> | <a href="http://www.vim.org/scripts/script.php?script_id=4059">vim.org</a></li>
  <li><a href="/2014/09/27/cloudboard-cn.html">cloudboard.vim – 基于github gist的跨机器剪贴板</a></li>
</ul>
