<p>Welcome to brook’s home on the Web.</p>

<p>Here is a list of the tools I’ve made in the last several years after I graduated from school.</p>

<p>Hope that you’ll find anything helpful.</p>

<ul>
  <li><a href="https://github.com/brookhong/tts">tts – A command line tool to read text with Microsoft Speech API (SAPI)</a> | <a href="/assets/downloads/tts.zip">download</a></li>
  <li><a href="https://github.com/brookhong/kv">kv – A command line dictionary tool</a> | <a href="/assets/downloads/kv.zip">download</a></li>
  <li><a href="https://github.com/brookhong/wikenotes">WikeNotes – A tool to manage your notes</a></li>
  <li><a href="/2014/04/28/keycast-on-windows.html">KeyCastOW – keycast on windows</a></li>
  <li><a href="https://github.com/brookhong/DBGPavim">DBGPavim – A plugin to enable php/python debug in VIM with XDebug</a> | <a href="http://www.vim.org/scripts/script.php?script_id=4059">vim.org</a></li>
  <li><a href="https://github.com/brookhong/cloudboard.vim">cloudboard.vim – A cloud-based clipboard, copy text on a machine, paste it on another</a></li>
</ul>
