<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="brook hong" />

<link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
<script type="text/javascript" src="/assets/js/qrcode.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>

</head>
<body>

<div class="site">
    <div class="title">
        <a href="/cn.html">主页</a> | <a href="/" locale='en'>English</a>
    </div>

    <div id="menu">
        <ul>
            <li><a href="#" section='profile'>关于</a></li>
            <li><a href="#" section='posts'>文章</a></li>
            <li><a href="#" section='projects'>项目</a></li>
            <li><a href="#" section='tools'>工具</a></li>
        </ul>
    </div>

    {{ content }}

    <div class="footer">
        <div class="contact">
            <a href="http://github.com/brookhong/">github.com/brookhong</a><br />
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/default.js"></script>
</body>
</html>
