<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="XvgHwGCgddRFqrtb1ZbVMC6Itb2jRnfkzbyUj_g8PQI" />
<title>{{ page.title }}</title>
<meta name="author" content="brook hong" />

<link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>

</head>
<body>

<div class="title">
    <a href="/cn.html">主页</a> | <a href="/" locale='en'>English</a>
</div>

<div id="menu">
    <ul>
        <li><a href="#" section='profile'>关于</a></li>
        <li><a href="#" section='posts'>文章</a></li>
    </ul>
</div>

<div id="toc">
    <ul>
    </ul>
</div>

<div id="content">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2868330864987538"
     data-ad-slot="8735894217"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ content }}
</div>

<div class="footer">
    <div class="contact">
        <a href="http://github.com/brookhong/">github.com/brookhong</a><br />
    </div>
</div>

<script type="text/javascript" src="/assets/js/default.js"></script>
</body>
</html>
