<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="XvgHwGCgddRFqrtb1ZbVMC6Itb2jRnfkzbyUj_g8PQI" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="author" content="brook hong" />
{% seo %}
<link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
<link rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css" type="text/css" />

</head>
<body>

{% include template/navbar.html %}

<div id="navbarWrapper">
</div>

<div id="toc">
</div>

<div id="content">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2868330864987538"
     data-ad-slot="8735894217"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ content }}
</div>

<div class="footer">
    <div class="contact">
        <a href="http://github.com/brookhong/">github.com/brookhong</a><br />
    </div>
</div>

</body>
</html>
