<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="XvgHwGCgddRFqrtb1ZbVMC6Itb2jRnfkzbyUj_g8PQI" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="author" content="brook hong" />
{% seo %}
<link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
<link rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css" type="text/css" />
<script src="/assets/lib/jquery.min.js"></script>
<script src="/assets/lib/popper.min.js"></script>
<script src="/assets/lib/bootstrap/bootstrap.min.js"></script>

</head>
<body>

{% include template/navbar.html %}

<div id="navbarWrapper">
</div>

<div id="toc">
</div>

<div id="content">
{{ content }}
</div>

<div class="footer">
    <div class="contact">
        <a href="http://github.com/brookhong/">github.com/brookhong</a><br />
    </div>
</div>

</body>
</html>
